<div class="sidebar" (click)="clickEvent()" [ngClass]="status ? 'active' : ''">
    <div class="logo_content">
        <div class="logo">
            <i class="bx bxl-c-plus-plus"></i>
            <div class="logo_name">Coding Lab</div>
        </div>
        <i class="bx bx-menu" id="btn" (click)="toggle()"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/projects" routerLinkActivated="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Projects</span>
            </a>
            <i class="bx bx-chevron-down"></i>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Segments</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Content Library</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Campaigns</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Campaigns Calender</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Settings</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
    </ul>
</div>
<div class="home_content">
    <div class="text">
        <!-- <app-projects></app-projects> -->
    </div>
</div>