/* Whole container */

:root {
    --white: #ffffff; // Font color
}


/* Project container */

.project-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}


/* Bg image */

img.Group-1617 {
    width: 100%;
    height: auto;
    position: absolute;
}


/* Logo */

.logo {
    background-image: url(./../../assets/hyperion/logo/hyperionWhite.png);
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    height: 25px;
    top: 40px;
    left: 0;
    margin-left: 200px;
}


/* User block contains */

.user-block {
    right: 50px;
    top: 32px;
    display: flex;
    position: absolute;
    height: 40px;
}


/* User image */

.user-image img {
    border-radius: 50%;
    height: 40px;
}


/* Username */

.user-name {
    color: white;
    align-self: center;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    padding: 0 15px 0 10px;
    width: 77px;
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}


/* Dropdown */

.user-action {
    // align-self: center;
    margin-top: 8px;
    img {
        align-self: center;
        justify-content: center;
    }
}