<div class="sidebar" [ngClass]="!status ? 'close' : ''">
    <div class="logo-details">
        <div class="Rectangle-1307" (click)="toggleSidebar()">
            <img src="./../../assets/hyperion/menu/menu.png" srcset="./../../assets/hyperion/menu/menu@2x.png 2x,
             ./../../assets/hyperion/menu/menu@3x.png 3x" class="menu">
        </div>
    </div>
    <ul class="nav-links">
        <li>
            <a href="">
                <i>
                    <img src="./../../assets/hyperion/home/home.png"  srcset="./../../assets/hyperion/home/home@2x.png 2x, ./../../assets/hyperion/home/home@3x.png 3x" class="home">
                </i>
                <span class="link_name">Home</span>
            </a>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="true"></div>

            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li [ngClass]="projectsSubMenuVisible ? 'showMenu' : ''">
            <div class="iocn-link">
                <a href="#">
                    <i>
                    <img src="./../../assets/hyperion/folder/folder (4).png"  srcset="./../../assets/hyperion/folder/folder (4)@2x.png 2x, ./../../assets/hyperion/folder/folder (4)@3x.png 3x" class="home">
                </i>
                    <span class="link_name">Projects</span>
                </a>
                <!-- Dropdown button -->
                <i class="bx bx-chevron-down arrow" (click)="dropdownEvent($event)"></i>
            </div>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"></div>

            <ul class="sub-menu">
                <li><a class="link_name" href="#">Projects</a></li>
                <li><a href="#">Data Upload</a></li>
                <li><a href="#">Deactivate Records</a></li>
            </ul>
        </li>
        <li [ngClass]="segmentSubMenuVisible ? 'showMenu' : ''">
            <div class="iocn-link">
                <a href="#">
                    <i>
                    <img src="./../../assets/hyperion/pie-chart/pie-chart.png"  srcset="./../../assets/hyperion/pie-chart/pie-chart@2x.png 2x, ./../../assets/hyperion/pie-chart/pie-chart@3x.png 3x" class="home">
                </i>
                    <span class="link_name">Segments</span>
                </a>
                <!-- Dropdown button -->
                <i class="bx bx-chevron-down arrow" (click)="dropdownEvent($event)"></i>
            </div>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"> </div>

            <ul class="sub-menu">
                <li><a class="link_name showMenu" href="#">Segments</a></li>
                <li><a href="#">AB Testing</a></li>
            </ul>
        </li>
        <li [ngClass]="contentLibrarySubMenuVisible ? 'showMenu' : ''">
            <div class="iocn-link">
                <a href="#">
                    <i>
                        <img src="./../../assets/hyperion/newspaper/newspaper.png" srcset="./../../assets/hyperion/newspaper/newspaper@2x.png 2x, ./../../assets/hyperion/newspaper/newspaper@3x.png 3x" class="home">
                    </i>
                    <span class="link_name">Content Library</span>
                </a>
                <i class="bx bx-chevron-down arrow" (click)="dropdownEvent($event)"></i>
            </div>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"></div>

            <ul class="sub-menu">
                <li><a class="link_name" href="#">Content Library</a></li>
                <li><a href="#">Sender ID</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i>
                    <img src="./../../assets/hyperion/noun_campaign/noun_campaign_2981092.png" srcset="./../../assets/hyperion/noun_campaign/noun_campaign_2981092@2x.png 2x, ./../../assets/hyperion/noun_campaign/noun_campaign_2981092@3x.png 3x" class="home">
                </i>
                <span class="link_name">Campaigns</span>
            </a>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"></div>

            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Campaigns</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i>
                    <img src="./../../assets/hyperion/calendar/calendar.png" srcset="./../../assets/hyperion/calendar/calendar@2x.png 2x, ./../../assets/hyperion/calendar/calendar@3x.png 3x" class="home">
                </i>
                <span class="link_name">Campaigns Calendar</span>
            </a>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"></div>

            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Campaigns Calendar</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i>
                    <img src="./../../assets/hyperion/settings/settings.png" srcset="./../../assets/hyperion/settings/settings@2x.png 2x, ./../../assets/hyperion/settings/settings@3x.png 3x" class="home">
                </i>
                <span class="link_name">Settings</span>
            </a>

            <!-- Right border when active -->
            <div class="Rectangle-1402" *ngIf="false"></div>

            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Settings</a></li>
            </ul>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <span class="text">
            <!-- Content -->
        </span>
    </div>
</section>