/* Google Fonts Import Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Sidebar width when expanding */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #091c38;
    z-index: 100;
    transition: all 0.5s ease;
}


/* Width when closes the sidebar */

.sidebar.close {
    width: 78px;
}


/* left-top logo */

.Rectangle-1307 {
    width: 78px;
    height: 78px;
    margin: 0;
    padding: 27px 25px;
    background-image: linear-gradient(136deg, #20458d, #3771ce 52%, #17c3ff, #000);
    border-radius: 0 0 50% 0;
}


/* Logo image(breadcrum) */

img.menu {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


/* Sidebar logo */

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}


/* Sidebar logo names */

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}


/* When sidebar close */

.sidebar.close .logo-details .logo_name {
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}


/* all links */

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}


/* all links when close sidebar */

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}


/* right border on hover */

.sidebar .nav-links li:hover {
    background: #091c38;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}


/* spacing between links */

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a.active {
    border-bottom: 3px solid red;
}


/* All names */

.sidebar .nav-links li a .link_name {
    color: #fff;
    opacity: 0.87;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    transition: all 0.4s ease;
}


/* hide sidebar name */

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}


/* background for subMenu items */

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    // background: #1d1b31;
    display: none;
    transition: all 0.5s ease;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}


/* sidebar submenu link */

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}


/* Tooltip: name of the sidebar logo on hover */

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}


/* Right section */

.home-section {
    position: relative;
    background: #fff;
    height: 100vh;
    left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
}


/* home section shrink and expand */

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}


/* Content in home section (right section) */

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}


/* text in home content  */

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}


/* Border bottom right when active */

.Rectangle-1402 {
    position: absolute;
    width: 4px;
    height: 32px;
    margin: 22px -2px 32px 22px;
    border-radius: 8px;
    background-color: #31bdee;
    top: 0;
    transform: translate(-50%, -50%);
    right: 0;
}