/* Import charts */

@import url(./../../assets/hightcharts.css);
.sidebar {
    position: inherit;
}


/* Project container */

.project-container {
    margin: 0;
    padding: 0;
    // height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    background-image: url(./../../assets/hyperion/background/3@2x.png);
    background-repeat: repeat-y;
    object-fit: contain;
}


/* Bg image */

img.Group-1617 {
    width: 100%;
    height: auto;
    position: absolute;
}


/* Logo */

.logo {
    position: relative;
    height: 25px;
    top: 40px;
    left: 0;
    margin-left: 200px;
}

.logo img {
    width: 180px;
}


/* User block contains */

.user-block {
    right: 50px;
    top: 32px;
    display: flex;
    position: absolute;
    height: 40px;
}


/* User image */

.user-image img {
    border-radius: 50%;
    height: 40px;
}


/* Username */

.user-name {
    color: white;
    align-self: center;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    padding: 0 15px 0 10px;
    width: 77px;
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}


/* Dropdown */

.user-action {
    // align-self: center;
    margin-top: 8px;
    img {
        align-self: center;
        justify-content: center;
    }
}


/* title */

.CC-Reminders {
    /* width: 164px; */
    height: 36px;
    margin: 100px 121px 22px 200px;
    opacity: 0.87;
    /* font-family: Prompt; */
    font-size: 35px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* Row contains 2 sections left and right */

.row {
    display: flex;
    height: 100%;
    gap: 75px;
    position: relative;
    padding: 40px 50px 50px 200px;
}

.row>div {
    /*demo purposes */
    // height: 30px;
}


/* left section */

#left-section {
    flex: 0 17%;
    // background-color: #F00;
}


/* right section */

#right-section {
    flex: 0 75%;
    // background-color: #9F9;
}


/* Landing page button */

.Rectangle-347 {
    width: 300px;
    height: 55px;
    opacity: 0.9;
    border-radius: 4px;
    background-color: #10274e;
    color: white;
}

.Rectangle-347 img {
    height: 8px;
    float: right;
    margin: 25px 15px;
}


/* Shadow and opacity on hover on landing page button */

.Rectangle-347:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


/* button text */

.Landing-Page {
    color: white;
    /* text-align: center; */
    float: left;
    font-size: 18px;
    font-weight: 100;
    margin: 17px;
}


/* count of records */

.Count-Card {
    width: 300px;
    height: 120px;
    margin: 30px 0;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
    display: flex;
}

.Ellipse-816 {
    width: 45px;
    height: 45px;
    margin: 30px;
    padding: 10px;
    background-color: #547eb7;
    border-radius: 50%;
}


/* Count number block contains number and images */

.count-number {
    margin-top: 28px;
    margin-left: 8px;
    line-height: 1.5;
}

.Count-Card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.count-number span {
    text-align: center;
    color: white;
}


/* count of records  text*/

.Count-of-Records-numbers {
    font-size: 30px;
    font-weight: 500;
    font-stretch: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
}


/* count of records  text*/

.Count-of-Records {
    margin: 2px 0 0;
    opacity: 0.54;
    font-size: 12px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
}


/* Calander clipboard */

img.clipboard {
    padding: 7px 11px;
}


/* Team Card */

.Team-Card {
    height: 539px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 8%);
    background-color: #2a538b;
    overflow: auto;
}


/* Title */

.Team-Card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


/* Team card title */

.Project-Team-Analytics {
    width: 189px;
    height: 24px;
    margin: 0 0 31px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* Team block */

.team-block {
    display: inline-flex;
}


/* Hide bullets */

ul {
    padding: 0px 20px;
    li {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        border-bottom: 2px solid rgba(236, 239, 240, 0.1);
    }
}


/* Team image */

.team-image img {
    border-radius: 50%;
    width: 50px;
    margin: 8px 0;
}


/* User name block contains usename and designation */

.user-name-block {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}


/* Name in team block */

.team-user-name {
    margin: 0px 0 0 18px;
    opacity: 0.87;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* users designation */

.team-user-designation {
    width: 107px;
    height: 21px;
    margin: 4px 24px 13px 16px;
    opacity: 0.37;
    font-size: 12px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* ************************************************* */


/* Design Scrollbar */


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 90%;
    border-radius: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #2a538b;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #10274e;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
}


/* ******************************************* Right container ***************************************************** */


/* ****************** top container ****************** */

.top-container {
    display: flex;
    gap: 50px;
}


/* First chart */

.top-channels {
    flex: 1;
    padding: 20px 0;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
    position: relative;
}


/* label for top channel content */

.topChannelLabel {
    margin: 0;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.topChannelLabel li {
    list-style: none;
    text-decoration: none;
    border-bottom: 0;
}

.container {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    background: none;
}

.center-doughnut {
    background: rgba(83, 122, 175, 0.8);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -36%);
    border: solid 1px rgba(255, 255, 255, 0.5);
    text-align: center;
}

.center-doughnut span {
    padding: 10px;
    vertical-align: middle;
}


/* Top Channel chart title */

.Top-Channels,
.Top-Landing-Pages,
.Top-Contents {
    padding: 0 25px;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* Title inside center of dougnut */

.center-doughnut-title {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.center-doughnut-subtitle {
    color: white;
    font-weight: 100;
    font-size: 10px;
}

.chart-label {
    position: absolute;
    bottom: 0;
    background: #555;
    width: 100%;
    // padding: 20px;
    height: 35px;
}

.chart-label ul li {
    display: flex;
}

.topChannelContainer {
    padding: 20px 0 0 0;
    z-index: -1;
}

.channelDoughnutLabels {
    position: absolute;
    margin: -2px 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    width: 140px;
    border: 1px solid rgba(0, 174, 255, 0.5);
    background-color: rgba(83, 122, 175, 0.8);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.channelDoughnutLabels #title {
    font-size: 20px;
    transform: translateY(50%);
    color: white;
    font-weight: 500;
}

.channelDoughnutLabels #subTitle {
    color: white;
    font-size: 10px;
}

.list-items {
    position: absolute;
    // width: 100%;
    bottom: -16px;
    background-color: #1e3758;
    border-radius: 0 0 5px 5px;
    justify-content: space-around;
}

ul.list-items {
    display: flex;
    left: 0;
    right: 0;
}


/* Dropdown button starts */

.rotateArrowBtn {
    transform: rotate(-180deg);
    transition: all 0.4s ease-in-out;
}

.dropDownBtn {
    display: none;
}

.landingPageSubMenu {
    background-color: #2a538b;
    padding: 0;
    color: white;
    border-radius: 0 0 5px 5px;
    transition: all 4s ease-in-out;
}

ul.landingPageSubMenu {
    background-color: #2a538b;
    padding: 0;
    color: white;
    padding: 0;
    margin: 0;
}


/* Daywise dropdown */

ul.daywiseSubMenu li,
ul.landingPageSubMenu li {
    font-size: 15px;
    padding: 15px 30px;
    margin: 0;
    list-style: none;
}

ul.daywiseSubMenu li:hover,
ul.landingPageSubMenu li:hover {
    opacity: 0.7;
}

.daywiseSubMenu {
    background-color: #14356b;
    overflow: hidden;
    width: 200px;
    margin: 0;
    border-radius: 0 0 5px 5px;
}

ul.daywiseSubMenu {
    padding: 0;
    color: white;
    padding: 0;
    margin: 0;
}

ul.daywiseSubMenu li {
    font-size: 10px;
    padding: 15px 30px;
    margin: 0;
    list-style: none;
}


/* Dropdown button ends */

ul.list-items li {
    // list-style-type: disc;
    padding: 0 10px;
    border-bottom: none;
    color: white;
    font-size: 9px;
    font-weight: 100;
    text-align: left;
}

.list-items-item {
    border-radius: 50%;
    background-color: red;
    padding: 0px 5px;
    margin: 0 6px;
}

.Landing-Page {
    color: white;
    /* text-align: center; */
    float: left;
    font-weight: 100;
}

#Landing-Page1 {
    font-size: 18px;
    margin: 17px;
}

.Rectangle-348 {
    width: 200px;
    height: 40px;
    opacity: 0.9;
    border-radius: 4px;
    background-color: #10274e;
    color: white;
}

.Rectangle-348 img {
    float: right;
    margin: 17px 15px;
}


/* Shadow and opacity on hover on landing page button */

.Rectangle-348:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


/* Top Middle chart */

.top-landing-pages {
    flex: 1;
    padding: 20px 0;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
}

.landingPageContainer {
    display: flex;
    justify-content: center;
}

.top-landing-page-canvas {
    padding: 0 10px;
}


/* Last chart */

.top-contents {
    flex: 1;
    padding: 20px 0px 20px 0;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
}


/* Button in content div */

.content-buttons {
    margin: 20px;
    text-align: center;
}

.content-buttons .button {
    text-decoration: none;
    outline: none;
    border: 1px solid #b6bfe3;
    padding: 8px 20px;
    font-size: 9px;
    color: white;
    background-color: rgb(255 255 255 / 50%);
}

.content-buttons .button:hover {
    text-decoration: none;
    outline: none;
    border: 1px solid #b6bfe3;
    padding: 8px 20px;
    font-size: 9px;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .42);
    background-color: rgb(255 255 255 / 50%);
}

#content-btn-first {
    background-color: #ffbb43;
    border-radius: 5px 0 0 5px;
}

#content-btn-last {
    border-radius: 0 5px 5px 0;
}


/* Bar Chart in content div  */

.content-canvas {
    display: block;
    margin: auto;
}


/* ***************************************************** Middle container ****************************************************************** */

.Middle-container {
    display: flex;
    margin: 35px 0;
    gap: 50px;
}

.Middle-container .middle-left .Daywise-stats,
.Middle-container .middle-right .Timewise-stats {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}


/* Daywise */

.middle-left,
.middle-right {
    flex: 1;
    padding: 20px 18px 18px 19px;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
}


/* Timewise */

.middle-right {
    flex: 1;
    padding: 20px 18px 18px 19px;
    border-radius: 6px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #2a538b;
}

.timewise-canvas,
.daywise-canvas {
    padding: 20px 0 0;
}

.daywise-header,
.timewise-header {
    display: flex;
    justify-content: space-between;
}

.Credit-card-write-off-btn {
    background-color: #10274e;
    width: 100px;
    color: white;
    padding: 10px;
}

.Credit-card-write-off-btn h5 {
    float: left;
}

.Credit-card-write-off-btn img {
    float: right;
}

#Landing-page {
    font-size: 14px;
    margin: 13px;
}


/* ****************** last container ****************** */

.last-container {
    height: auto;
    padding: 15px 25px;
    border-radius: 6px;
    background-color: #2a538b;
}


/* shadow on hover on last container */

.last-container:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.Campaign-List {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.last-container table {
    border-collapse: collapse;
    width: 100%;
}

.last-container table tr {
    line-height: 3;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

.last-container table tr td {
    margin-top: 5px;
    width: 5%;
}

table:nth-child(n) {
    border-bottom: solid 0px rgba(255, 255, 255, 0.1);
}


/* First cell must have iamge */

.Ellipse-830 {
    width: 40px;
    height: 40px;
    margin: 25px 16px 16px 0;
    background-color: #293f65;
    border-radius: 50%;
}

img.noun_campaign_2981092 {
    object-fit: contain;
    width: 25px;
    padding: 9px;
}


/* Text in campaign list */

.Credit-card-write-off {
    height: 24px;
    margin: 30px 82px 21px 16px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white
}

td {
    width: 10%
}

.clipboard-image {
    width: 50px;
}

.campaign-zone {
    width: 200px;
    color: white;
}

.campaign-date {
    width: 100px;
    color: white;
}

.campaign-name {
    text-align: left;
    width: 20%;
    color: white;
}

.campaign-records {
    color: white;
    width: 20%;
}

.campaign-engagement {
    color: white;
    width: 20%;
}


/* Subtitle means font will be normal */

.subtitle {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: white;
}