<div class="project-container">

    <!-- Background image -->
    <!-- <img src="assets/hyperion/background/3@2x.png" srcset="./.assets/hyperion/background/3@2x.png 2x,
             ./.assets/hyperion/background/3@3x.png 3x" class="Group-1617" alt=""> -->

    <!-- Logo Block-->
    <div class="logo">

        <!-- Logo Image -->
        <img src="assets/hyperion/logo/hyperionWhite.png" />
    </div>

    <!-- User block -->
    <div class="user-block">
        <!-- User image -->
        <div class="user-image">
            <img src={{dashboardData.userimg}} />
        </div>

        <!-- Username -->
        <div class="user-name">
            Hello {{dashboardData.username}}!
        </div>

        <!-- down arrow -->
        <div class="user-action"><img src="assets/hyperion/drop-arrow/1.png" /></div>
    </div>

    <!-- Title -->
    <h1 class="CC-Reminders">{{dashboardData.name}}</h1>

    <!-- -------------------------------------------------------- 2 Sections ---------------------------------------------------- -->
    <div class="row">

        <!-- Landing button, cards, team analytics -->
        <div id="left-section">
            <!-- Landing page button -->
            <div class="Rectangle-347" (click)="landingPageDropDown()">
                <h5 class="Landing-Page" id="Landing-Page1">Landing Page</h5><img [ngClass]="landingPageDrDwn ? 'rotateArrowBtn' : ''" src="assets/hyperion/drop-arrow/1.png" />
            </div>
            <ul class="landingPageSubMenu" [ngClass]="!landingPageDrDwn ? 'dropDownBtn': ''">
                <li>LandingPage 1</li>
                <li>LandingPage 2</li>
            </ul>

            <!-- Counting Card  -->
            <div class="Count-Card">
                <div class="Ellipse-816">
                    <img src="assets/hyperion/clipboard/calander.png" srcset="assets/hyperion/clipboard/clipboard@2x.png 2x, assets/hyperion/clipboard/clipboard@3x.png 3x" class="clipboard">
                </div>
                <div class="count-number">
                    <span class="Count-of-Records-numbers">{{dashboardData.cardData.recordData.totalRecords}}</span>
                    <br/>
                    <span class="Count-of-Records H9">Count of Records</span>
                </div>
            </div>

            <!-- Segments Count Card  -->
            <div class="Count-Card">
                <div class="Ellipse-816">
                    <img src="assets/hyperion/clipboard/pie-chart.png" srcset="assets/hyperion/clipboard/pie-chart@2x.png 2x, assets/hyperion/clipboard/pie-chart@3x.png 3x" class="clipboard">
                </div>
                <div class="count-number">
                    <span class="Count-of-Records-numbers">{{dashboardData.cardData.segmentData.totalSegments}}</span>
                    <br/>
                    <span class="Count-of-Records H9">{{dashboardData.cardData.segmentData.name}}</span>
                </div>
            </div>

            <!-- Files Count Card  -->
            <div class="Count-Card">
                <div class="Ellipse-816">
                    <img src="assets/hyperion/clipboard/files.png" srcset="assets/hyperion/clipboard/files@2x.png 2x, assets/hyperion/clipboard/files@3x.png 3x" class="clipboard">
                </div>
                <div class="count-number">
                    <span class="Count-of-Records-numbers">{{dashboardData.cardData.fileData.totalFiles}}</span>
                    <br/>
                    <span class="Count-of-Records H9">{{dashboardData.cardData.fileData.name}}</span>
                </div>
            </div>

            <!-- Team Card  -->
            <div class="Team-Card">
                <span class="Project-Team-Analytics">Project Team (Analytics)</span>
                <ul>

                    <!-- List of all team members -->
                    <!-- Can also iterate using ngFor -->
                    <ng-container *ngFor="let projectTeamList of dashboardData.projectTeam  ; let i = index;">
                        <li>
                            <div class="team-block">
                                <div class="team-image">
                                    <img src={{projectTeamList.imgUrl}} />
                                </div>
                                <div class="user-name-block">
                                    <span class="team-user-name">{{projectTeamList.name}}</span>
                                    <br />
                                    <span class="team-user-designation">{{projectTeamList.designation}}</span>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <!-- List ends -->
                </ul>
            </div>
        </div>

        <!-- Charts graphs -->
        <div id="right-section">

            <!-- ------------------------------- Top charts Container1 ------------------------------- -->
            <div class="top-container">

                <!-- Dognut chart -->
                <div class="top-channels">

                    <!-- title of container-->
                    <span class="Top-Channels">Top Channels</span>

                    <!--  -->
                    <div class="channelDoughnutLabels">
                        <span id="title">10,000</span><br>
                        <span id="subTitle">Total</span>
                    </div>

                    <div class="topChannelContainer">

                        <canvas id="topChannelCanvas" class="topChannelCanvas"></canvas>
                    </div>

                    <ng-container *ngFor="let item of channelLabels; let i=index;">
                        <ul class="list-items">
                            <li>
                                <span class="list-items-item" [ngStyle]="{'background-color':'#ffba1f'}"></span>SMS
                            </li>
                            <li>
                                <span class="list-items-item" [ngStyle]="{'background-color':'#3bc470'}"></span>Email
                            </li>
                            <li>
                                <span class="list-items-item" [ngStyle]="{'background-color':'#8499f2'}"></span>IVR
                            </li>
                            <li>
                                <span class="list-items-item" [ngStyle]="{'background-color':'#34c9be'}"></span>W.App
                            </li>
                            <li>
                                <span class="list-items-item" [ngStyle]="{'background-color':'#aa7bd8'}"></span>Facebook
                            </li>
                        </ul>
                    </ng-container>
                </div>

                <!-- Landing Page chart -->
                <div class="top-landing-pages">

                    <!-- title of container-->
                    <span class="Top-Landing-Pages">Top Landing Pages</span>

                    <div class="landingPageContainer">
                        <canvas id="landingPageCanvas" height="255" width="250" class="top-landing-page-canvas"></canvas>
                    </div>
                </div>

                <!-- Bar Chart -->
                <div class="top-contents">

                    <!-- title of container-->
                    <span class="Top-Contents">Top Contents</span>

                    <div class="content-buttons">
                        <button class="button" id="content-btn-first">SMS</button>
                        <button class="button">IVR</button>
                        <button class="button">Email </button>
                        <button class="button">W.App</button>
                        <button class="button" id="content-btn-last">Facebook</button>
                    </div>

                    <!-- Content chart -->
                    <div class="content-canvas">
                        <canvas id="contentCanvas" class="content-canvas"></canvas>
                    </div>
                </div>
            </div>

            <!-- ------------------------------- Middle charts Container1 ------------------------------- -->
            <div class="Middle-container">
                <div class="middle-left">
                    <!-- Daywise block -->
                    <div class="daywise-header">
                        <div class="Daywise-stats">Daywise Stats</div>

                        <!-- Timewise selection button -->
                        <div class="Rectangle-348" (click)="daywiseStatsDropDown()">
                            <h5 class="Landing-Page" id="Landing-page">Credit card write off
                            </h5><img [ngClass]="daywiseStatsDrDwn ? 'rotateArrowBtn' : ''" src="assets/hyperion/drop-arrow/1.png" />
                            <ul class="daywiseSubMenu" [ngClass]="!daywiseStatsDrDwn ? 'dropDownBtn': ''">
                                <li>Daywise 1</li>
                                <li>Daywise 2</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Content chart -->
                    <div class="daywise-canvas">
                        <canvas id="DaywiseCanvas" class="daywise-canvas"></canvas>
                    </div>
                </div>

                <!-- Timewise block -->
                <div class="middle-right">
                    <div class="timewise-header">
                        <div class="Timewise-stats">Timewise Stats</div>

                        <!-- Timewise selection button -->
                        <div class="Rectangle-348" (click)="timewiseStatsDropDown()">
                            <h5 class="Landing-Page" id="Landing-page">Asset Bucket Custom
                            </h5><img [ngClass]="timewiseStatsDrDwn ? 'rotateArrowBtn' : ''" src="assets/hyperion/drop-arrow/1.png" />
                            <ul class="daywiseSubMenu" [ngClass]="!timewiseStatsDrDwn ? 'dropDownBtn': ''">
                                <li>Daywise 1</li>
                                <li>Daywise 2</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Content chart -->
                    <div class="timewise-canvas">
                        <canvas id="TimewiseCanvas" class="timewise-canvas"></canvas>
                    </div>
                </div>
            </div>

            <!-- ------------------------------- Bottom charts Container1 ------------------------------- -->
            <div class="last-container">

                <!-- Label -->
                <span class="Campaign-List">Campaign List</span>

                <!-- Table contains all campaign lists -->
                <table class="campaign-table">

                    <!-- Adjust the width of the table -->
                    <col style="width:5%">
                    <col style="width:30%">
                    <col style="width:20%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">

                    <!-- All can be iteratable -->
                    <ng-container *ngFor="let campaignList of campaignLists; let i = index;">

                        <tbody>
                            <tr>
                                <!-- Clipboard Image -->
                                <td class="clipboard-image">
                                    <div class="Ellipse-830">
                                        <img src={{campaignList.imageUrl}} srcset="{{campaignList.imageSrcset}}" class="noun_campaign_2981092">
                                    </div>
                                </td>

                                <!-- Campaign name -->
                                <td class="campaign-name">
                                    <h5 class="Credit-card-write-off">{{campaignList.campaignName}}</h5>
                                </td>

                                <!-- Campaign Zone -->
                                <td class="campaign-zone subtitle">{{campaignList.campaignZone}}</td>

                                <!-- Campaign records -->
                                <td class="campaign-records subtitle">{{campaignList.campaignRecords}}</td>

                                <!-- Campaign Date -->
                                <td class="campaign-date subtitle">{{campaignList.campaignDate}}</td>

                                <!-- Campaign engagement -->
                                <td class="campaign-engagement subtitle">{{campaignList.campaignEngagement}}</td>
                            </tr>
                        </tbody>

                    </ng-container>

                </table>
            </div>
        </div>

    </div>

</div>

<!-- <img src="assets/hyperion/clipboard/calander@3x.png" class="noun_campaign_2981092"> -->